<!-- views/posts/index.ejs -->

<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/nav') %>

        <div class="container mb-3">
            <h2 class="mb-3">Board</h2>

            <table class="board-table table table-sm border-bottom">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Title</th>
                        <!-- 테이블의 헤더에 author 추가 -->
                        <th scope="col" class="author">Author</th>
                        <th scope="col" class="date">Date</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- 만약 데이터가 없으면 없다는 메시지 메시지 출력 -->
                    <% if(posts == null || posts.length == 0){ %>
                    <tr>
                        <td colspan="2">There is no data to show :(</td>
                    </tr>
                    <!-- 그게 아니라 있다면 forEach문을 돌려 포스트를 출력 -->
                    <% } %> <% posts.forEach(function(post) { %>
                    <tr>
                        <td>
                            <a href="/posts/<%= post._id %>"><div class="ellipsis"><%= post.title %></div></a>
                        </td>
                        <td class="author">
                            <!-- author가 있는 경우 author의 username을 표시함 -->
                            <div class="ellipsis"><%= post.author ? post.author.username : "" %></div>
                        </td>
                        <td class="date">
                            <!-- 1 : data-date가 span에 사용됨 -->
                            <!-- public/js/script.js에 의해 post.createdAt 즉 게시글 작성시간이 년-월-일의 형태로 출력된다. -->
                            <span data-date="<%= post.createdAt %>"></span>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>

            <div>
                <a class="btn btn-primary" href="/posts/new">New</a>
            </div>
        </div>
    </body>
</html>
